<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>
<div class = 'pane'>
<h1>New Menu Item</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Information:</p>
		<input type ='text' size='30' name='information'>
	<p>Price:</p>
		<p>$ &nbsp <input type ='text' size='27' name='price'></p>
	<p>Course:</p>
		<input type ='radio'  name='course' value ='Appetizer'>Appetizer</br>
		<input type ='radio'  name='course' value ='Entree'>Entree</br>
		<input type ='radio' name='course' value ='Dessert'>Dessert</br>
		<input type ='radio'  name='course' value ='Beverage'>Beverage</br>
	</br>


<input type='submit' value='Add'>

</form>
</div>
</body>
</html>
